<!-- PAGE HEADING -->

<html>

<head>
<base href="..">
<title>Spectral Theory by the Lakes</title>
<link rel="stylesheet" type="text/css" media="all" href="Styles/main.css"/>
<link rel="stylesheet" type="text/css" media="all" href="Styles/header.css"/>
</head>

<body>

<div class="title">
	<span class="title1">Spectral Theory</span>
	<br><br><br><br>
	<span class="title2">by the Lakes</span>

</div>
<div class="location">
	9-10 April 2026. Lancaster University, Lancaster, UK
</div>

</body>
</html>

